@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(./normalize.css);
.container {
  background-color: silver;
}
.header {
  background-color: yellow;
}
.visual {
  background-color: lime;
  height: 10vh;
}
.main {
  background-color: blue;
  height: 60vh;
}
.group1 {
  background-color: pink;
}
.group2 {
  background-color: orange;
}
.group3 {
  background-color: skyblue;
}
.slogan {
  background-color: blueviolet;
  height: 10vh;
}
.footer-bg {
  background-color: teal;
}
.footer {
  background-color: tomato;
  height: 10vh;
}
/* 기본 Box Sizing */
body *,
body *::before,
body *::after {
  box-sizing: border-box;
}
/* 본문 기본 설정 */
body {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 400;
}

/* 레이아웃 */
.header,
.visual,
.main,
.slogan,
.footer {
  width: 940px;
  margin: 0 auto;
}
/* 헤더 */
.header {
}
/* 메인 콘텐츠 */
.main {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-between;
  padding: 30px;
}
.group1 {
  width: 250px;
}
.group2 {
  width: 380px;
}
.group3 {
  width: 190px;
}
